@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}

/* header part css  */
        .header-container{
            display: flex;
         
        }
    
        header {
            padding: 50px 450px 50px 388px;
        }
  .header-photo {
    width: 100%;
  }
  .header-photo img {
    margin-left: 40%;
  }
  .header-content h1 {
    font-size: 51px;
  }
  .header-content p {
    font-size: 18px;
  }
  .header-title {
	font-size: 25px;
	padding-bottom: 50px;
}
  .header-content {
    margin-right: 0;
  }
  .header-content {
	margin-top: 70px;
}
  
.book {
    text-decoration: none;
    border: 1px solid #E02C6D;
    border: 1px solid #E02C6D;
    background: #E02C6D;
    color: #fff;
    padding: 10px 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    transition: 0.3s;
    border-radius: 5px;
  }
  .book:hover {
    border-radius: 50px;
    background: transparent;
    color: #333;
  }
  .book i {
    margin-left: 10px;
  }
  
.menu-item {
    display: flex;
  }
  .menu-item ul {
    display: flex;
    position: relative;
    left: 46%;
  }
 
  .menu-item ul li {
    list-style: none;
  }
  .menu-item ul li a {
    text-decoration: none;
    margin-left: 40px;
    overflow: hidden;
    overflow-wrap: wrap;
    font-size: 17px;
    font-weight: 500;
    color: #333;
  }
/* header part css  */
/* brand css  */

.brand-container {
	padding: 90px 0 20px;
}
  .brand-item ul {
    display: flex;
    position: relative;
  }
  .brand-item ul li {
    list-style: none;
    margin-left: 6%;
  }
  .brand-item ul::after {
    position: absolute;
    top: 47px;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(white , aliceblue);
    content: "";
  }
  .brand-item {
    position: relative;
  }
  .brand-item::after {
    position: absolute;
    top: -30px;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(white ,aliceblue);
    content: " ";
  }
/* brand css  */
/* brand css  */

 /* popular collection css  */
        
.item-details h4 {
    font-size: 30px;
    font-weight: 400;
  }
  .item-details ul {
    display: flex;
  }
  
  .item-details p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
  .item-details ul li {
    list-style: none;
  }
  .item-details ul li i {
    color: gold;
  }
 
.item-position {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 12px;
  }
  .item-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .item-wrap {
    margin: 30px;
    border: 1px solid #fff;
    box-shadow: 10px 10px 40px #aaa;
    padding: 16px;
  }
  .main-title {
	text-align: center;
	padding-bottom: 50px;
	font-size: 40px;
	font-weight: 500;
}

.see-more {
    text-decoration: none;
    margin-left: 74%;
    color: #E02C6D;
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
  }
  .see-more i {
    margin-left: 10px;
  }
 /* popular collection css  */
 /* activites css  */
 .influencer-container {
    padding: 50px 350px 50px 363px;
    display: flex;
  }
  .influencer-title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 20px;
  }
  
.subscription-con {
    margin-left: 5%;
  }
  .subscription-con h2 {
    font-size: 35px;
    font-weight: 700;
  }
  .subscription-con h2 span {
    color: gold;
  }
  .subscription-con p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
  }
  .subscribe {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #E02C6D;
	background: #E02C6D;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
	transition: 0.3s;
}
.subscribe:hover {
	border-radius: 50px;
	background: transparent;
	color: #E02C6D;
}
 /* activites css  */
 /* foooter  */
 
footer {
    color: #fff;
    background: #0A0826;
    text-align: center;
    padding: 50px;
  }
  .footer-con h4 {
    font-size: 30px;
  }
  .social-links ul {

    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    margin-top: 20px;

  }
  .social-links ul li i {
    margin-left: 20px;
    font-size: 24px;
  }
 /* foooter  */

 /* responsive css  */
 @media only screen and (max-width:688px){
        body{
          overflow-x: hidden;
        }
        .menu-item ul {
          display: none;
        }
        .header-container {
          display: flex;
          flex-direction: column-reverse;
        }
        
        header {
          padding: 50px;
      }
      .header-title {
        position: relative;
        left: 30%;
      }
      .header-photo img {
        width: 100%;
        position: relative;
        top: -212%;
        left: -40%;

      }
      .header-content {
        margin-top: 10px;
        text-align: center;
      }
      .header-content h1 {
        font-size: 30px;
      }
      .brand-item ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
      }
      .brand-item ul::after{
        display: none;
      }
      .brand-item::after{
        display: none;
      }
      .item-position {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
      }
      .main-title {
        padding-bottom: 5px;
        font-size: 30px;
      }
      .see-more {
        display: block;
        text-align: center;
        margin-left: 65%;
      }
      .influencer-title {
        font-size: 30px;
      }
      .influencer-container {
      padding: 0;
        display: flex;
        flex-direction: column;
      }
      .subscription-con h2 {
        text-align: center;
        padding: 15px 0;
      }
      .subscribe {
        display: inline-block;
        margin-bottom: 16px;
        position: relative;
        left: 30%;
      }
      .subscription-con p {
        text-align: center;
      }
     }
 /* responsive css  */
 /* responsive css for tablet */
 @media only screen and (min-width:688px) and (max-width:992px){
  body {
    overflow-x: hidden;
  }
  .header-photo img {
    width: 100%;
    position: relative;
    left: -100px;
  }
  .header-photo img:hover {
    transition: transform 1s ease-in-out;
    transform: rotate(360deg);
  }
  header {
    padding: 50px 50px 50px 50px;
  }
  .header-content h1 {
    font-size: 35px;
    text-transform: uppercase;
  }
  .header-content p {
    font-size: 16px;
  }
  .menu-item ul {
    display: flex;
    position: relative;
    left: 40%;
  }
  .menu-item ul li a {
    margin-left: 24px;
  }
  .brand-item ul li {
    margin-left: 4%;
  }
  .main-title {
    padding-bottom: 0;
    font-size: 35px;
  }
  .item-position {
    grid-template-columns: repeat(2,1fr);
  }
  .influencer-title {
    font-size: 35px;
  }
  .influencer-container {
    padding: 50px 5px 50px 8px;
  }
  .subscription-con {
    margin-left: 2%;
  }
  .subscription-con p {
    font-size: 16px;
    line-height: 28px;
  }
 }
 /* responsive css for tablet */

 